@let t = translations().footer;

<div class="footer container">
  <p class="copyright">© {{ currentYear }} {{ profile().fullName }}. {{ t.rights }}</p>

  <ul class="socials" [attr.aria-label]="t.socialLinks">
    @for (link of profile().socialLinks; track link.platform) {
      <li>
        <a
          class="icon-button"
          [appExternalLink]="link.url"
          [attr.aria-label]="link.label"
        >
          <app-icon [name]="link.icon" [size]="18" />
        </a>
      </li>
    }
  </ul>
</div>
