# Compiled output
/dist
/tmp
/out-tsc
/.angular/cache
/bazel-out

# Node
/node_modules
npm-debug.log*
yarn-error.log*

# Logs and lockfiles
/connect.lock
/libpeerconnection.log
testem.log
package-lock.json.*
coverage/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/

# Environment files
.env
.env.*

# Miscellaneous
.sass-cache/
.history/*
typings/

# System files
.DS_Store
Thumbs.db

# Backups & temp
*.swp
*.bak
*.tmp
