<mat-toolbar>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  <span> My tech-lang-portfolio</span>
</mat-toolbar>

<br />

<mat-grid-list cols="4" rowHeight="100px">
  @for (tile of tiles; track tile) {
  <mat-grid-tile
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
    >{{ tile.text }}</mat-grid-tile
  >
  }
</mat-grid-list>
<video autoplay muted loop id="video-fondo">
  <source src="assets/videos/PC-main-wallpaper-4.mp4" type="video/mp4" />
  Tu navegador no soporta este video.
</video>

<!-- <div class="contenido">
  <h1>Bienvenido a mi aplicación</h1>
  <p>Este es un fondo con video.</p>
</div> -->
