#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(1.2) contrast(1.1) saturate(1.2);
  }